<!-- <img class="" src="../../assets/img/meCard.png" alt="Zdjęcie profilowe Arkadiusz SKOREK"> -->

<div class="about">   

    
    <div class="content">
        <div class="header">
            <h1>Fullstack .net developer</h1>
        </div>
        <div class="content__text">
            <p>
                Jestem .net developerem z ponad 2-letnim doświadczeniem 
                oraz 6 miesięcznym doświadczeniem w testowaniu oprogramowania z wykorzystaniem języka Java. 
            </p>
        </div>
        
    </div>
</div>
