@import "../../scss/variables";
.nav__container{
  background-color: #ffffff;
  position: fixed;
  min-height: 50px;
  width: 100%;
  top: 0;
  z-index: 100;
}
.navigation {
  display: grid;
  box-sizing: border-box;
  grid-template-columns: 300px 1fr;
  font-family:  cursive;
  font-weight: bold;
  max-width: 1100px;
  color: $logoText;
  margin: auto;
  &__logo{
    line-height: 0px;
    margin: 0 auto;
    font-weight: bold;
    // font-size: x-large;
    text-decoration: solid;
  }
  &__position{
    margin: 0;
  }
  &__list {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: flex-end;
    color: $linkText;
    padding: 1em;
    margin: 0;
    width: 100%;
    &__item {

      text-decoration: none;
      padding: 10px 30px;

      &:hover {
        // background-color: $linkHoverColor;
        // border-radius: $standardRadius;
      }
    }
  }
}
