<!-- <img class="" src="../../assets/img/meCard.png" alt="Zdjęcie profilowe Arkadiusz SKOREK"> -->

<div class="about">
  <div class="content">
    <div class="tabs">
      <div class="tabs__menu">
        <ul ngbNav #nav="ngbNav" [activeId]="1" class="tabs__menu__list">
          <li [ngbNavItem]="1" class="tabs__menu__list--item">
            <a ngbNavLink class="nav-link"><img tooltip="ABOUT ME" placement="right" src="../../assets/icons/user.png"
                alt="about me"></a>
            <ng-template ngbNavContent>
              <div class="tabs__template">
                <div class="header">
                  <h1 class="header__text">About me</h1>
                </div>
                <div class="content__text">
                  <p>
                    Jestem absolwentem Katolickiego Uniwersytetu Lubelskiego im. Jana Pawła II w Lublinie na kierunku
                    Informatyka
                    (specjalizacja programowanie).
                    Aktualnie .net developer z ponad 2-letnim doświadczeniem
                    oraz 6 miesięcznym doświadczeniem w testowaniu oprogramowania z wykorzystaniem języka Java.
                    Programowanie to moja pasja! W trakcie studiów aktywnie uczesniczyłem w kole informatyków. Dzięki
                    czemu miałem
                    okazje być jednym z organizatorów największej konferencji IT na lubelszczyźnie - Lubelskich Dni
                    Informatyki.
                  </p>
                </div>
              </div>
            </ng-template>
          </li>
          <li [ngbNavItem]="2" class="tabs__menu__list--item">
            <a ngbNavLink class="nav-link" ><img tooltip="EDUCATION" placement="right" src="../../assets/icons/graduation-hat.png"
                alt="education"></a>
            <ng-template ngbNavContent>
              <div class="tabs__template">
                <div class="header">
                  <h1 class="header__text">Education</h1>
                </div>
                <div class="content__text education">
                  <div class="education__border education--smallText">
                    <p>KUL im. Jana Pawła II w Lublinie</p>
                    <p class="education__date">10.2015 - 07.2018</p>
                  </div>
                  <div>
                    <p class="education__details">Licencjackie, <strong>Informatyka</strong> <br> spec. Programowanie</p>
                  </div>
                </div>
              </div>
              <div class="tabs__template">
                <div class="header">
                  <h1 class="header__text">Training</h1>
                </div>
                <div class="content__text education">
                  <div class="education__border education--smallText">
                    <p>Dostęp do danych z wykorzystaniem Entity Framework</p>
                  </div>
                  <div>
                    <p class="education__details">Bottega</p>
                  </div>
                </div>
                <div class="content__text education">
                  <div class="education__border education--smallText">
                    <p>Serwisy REST oparte o WebAPI i testowanie BDD</p>
                  </div>
                  <div>
                    <p class="education__details">Bottega</p>
                  </div>
                </div>
                <div class="content__text education">
                  <div class="education__border education--smallText">
                    <p>Domain Driven Design i Event Storming</p>
                  </div>
                  <div>
                    <p class="education__details">Bottega</p>
                  </div>
                </div>
              </div>
            </ng-template>
          </li>
          <li [ngbNavItem]="3" class="tabs__menu__list--item">
            <a ngbNavLink class="nav-link"><img tooltip="EXPERIENCE" placement="right" src="../../assets/icons/suitcase.png"
                alt="EXPERIENCE"></a>
            <ng-template ngbNavContent>
              <app-experience></app-experience>
            </ng-template>
          </li>
        </ul>
      </div>
      <div [ngbNavOutlet]="nav" class="mt-2"></div>
      <div>
      </div>
    </div>
  </div>
</div>
