// $logoText: #FFEEDB;
// $linkText: #F0F7EE;
// $text: #FFEEDB;

$logoText: #000000;
$linkText: #000000;
$text: #000000;

.link{
  &__decoration{

    &--none{
      text-decoration: none;
      color: inherit;
    }
  }
}
